{% extends '../base.html' %}


{% block container %}




<div class="card border-success col-6 mx-auto ">
    <div class="card-header bg-success text-white border-success">
        {{ object.name}}
    </div>
    <div class="card-body bg-light text-primary ">
        <p>
            {{object.description}}
        </p>
        <p>
            Pledged: ${{object.budget}},
        </p>
        Funded: ${{object.get_funded_amount}}
        <p>
            Funded%: {{object.get_funded_percentage}}%
        </p>

    </div>
    <div class="card-footer" style="text-align: right;">
        <a class="btn btn-success" href="#">Edit</a>
        <a class="btn btn-success" href="#">Contribute</a>
    </div>
</div>





{% endblock %}